.Rhistory
.Rprofile
!label_sample_users.csv
*.sav
*.sas7bdat
*.xlsx
*.xls
*.pdf
*.fff
*.log
*.tex
.Rproj.user
.DS_Store
submissions_text.csv
!codebook_submissions_text.csv
comments_text.csv
!codebook_comments_text.csv
Incels_comments.zst
Incels_submissions.zst
submissions_text.rds
comments_text.rds
manuscript/*_files/
_targets/
**/_targets/
_targets.yaml
*.zst
manuscript/*.html
manuscript/*.md
manuscript/*_files/
python/__pycache__/
python/*.bin
python/*.rds
python/*.vec
python/*.csv
.positai
.Rapp.history
